.logo{
    width: 80px;
}
header{
    background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
      );
      color: white;
      height: 900px;
      width: 100%;


}
span{color:white;}